.l-product {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    min-height: calc((100 * var(--vh)) - 90px);
    padding-bottom: 30px;
}

#product-controls-and-details {
    justify-content: space-between;
    max-height: 800px;
    overflow: auto;
}

/* Product Controls */
#product-details-container {
    padding: 0 30px;
}

#product-details-container div {
    width: 100%;
}

#product-details-container span {
    justify-content: space-between;
}

#s-product-details {
    justify-content: space-between;
    height: 100%;
    min-width: 200px;
}

.product-dtl {
    padding-bottom: 30px;
}

#s-product-details h2,
#s-product-details h3 {
    font-weight: 400;
}

#s-product-details h3 {
    padding-left: 5px;
}

#s-product-details h2 {
    font-size: 18px;
}

#s-product-details label {
    padding-right: 10px;
}

/* Add to cart */
#add-to-cart {
    width: 100%;
    min-width: 200px;
}

#add-to-cart button {
    width: 100%;
    background-color: rgb(16, 157, 63);
    color: white;
}

#add-to-cart button:hover {
    border-radius: 10px;
}

/* Product chart */
#product-details-chart {
    min-height: 100px;
    padding: 0 30px;
}

#product-details-chart thead,
#product-details-chart tbody {
    width: 100%;
    min-width: 100px;
}

#product-details-chart th,
#product-details-chart td {
    border-bottom: 1px solid black;
    text-align: start;
}

/* See more link */
.see-more {
    width: 100%;
    min-width: 200px;
    padding: 0 30px;
}


.see-more a {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.311);
    font-weight: 600;
}

/* Mobile & Tablets */
@media all and (max-width: 800px) {
    #product-controls-and-details {
        width: 100vw;
        padding: 30px 0;
    }
}

/* Tablets */
@media all and (min-width: 801px) {
    .l-product {
        padding-top: 30px;
    }

    #product-details-container,
    #product-details-chart,
    .see-more {
        width: 55vw;
    }

    #product-controls-and-details {
        height: 45vw;
    }
}

/* Desktop */
@media all and (min-width: 1001px) {
    .l-product {
        width: 80vw;
        max-width: 1600px;
    }

    #product-details-container,
    #product-details-chart,
    .see-more {
        width: 40vw;
        max-width: 800px;
    }

    #product-controls-and-details {
        height: 40vw;
    }
}