.modal-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100 * var(--vh));
    background-color: rgba(0, 0, 0, 0.366);
    cursor: pointer;
    min-width: var(--min-width);
}