/* Variables */
:root {
  --hover-grey: rgba(0, 0, 0, 0.669);
  --min-width: 300px;
  --trX: 0%
}

/* Elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-family: "Urbanist", sans-serif;
}

body {
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: var(--min-width);

}

main {
  width: 100vw;
}

a,
.icon {
  color: rgb(21, 19, 19);
  cursor: pointer;
}

a,
a:focus {
  text-decoration: none;
}

a:hover,
.icon:hover,
.hover:hover {
  color: var(--hover-grey);
}

h2 {
  font-weight: 600;
}

li {
  list-style: none;
}

input {
  border: none;
  height: 50px;
  padding: 0 5%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Buttons */
button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

button,
.icon {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Text Overflow */
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

/* Flex */
.flex,
.center {
  display: flex;
  display: -webkit-flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
  -ms-flex-direction: column;
}

/* Logo */
.logo {
  font-size: 35px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  width: 100px;
}

/* Sizing */
.full {
  width: 100%;
  height: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: rgba(77, 77, 77, 0.236);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 50, 50, 0.601);
}

/*  */
.hvr-shadow:hover {
  box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.223),
    0 6px 20px 0 rgba(0, 0, 0, 0.136);
}

.shadow {
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.223),
    0 6px 20px 0 rgba(0, 0, 0, 0.136);
}

/* Overflow */
.overflow-hidden {
  overflow: hidden;
}

/* Typeface */
.bold {
  font-weight: 500;
}

.bolder {
  font-weight: 600;
}


/* Checkbox */
.checkbox {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}