/* Nav */
#sf-nav {
    width: 100vw;
    height: 35px;
}

#sf-nav-ul {
    position: fixed;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.223),
        0 6px 20px 0 rgba(0, 0, 0, 0.136);
    background-color: rgb(255, 255, 255);
}

#sf-nav-ul li {
    width: 100%;
}

#sf-nav-ul li:last-child {
    border-right: 0.1px solid rgb(211, 211, 211);
}

#sf-nav-ul li {
    border-left: 0.1px solid rgb(211, 211, 211);
}

#sf-nav-ul button {
    width: 100%;
    height: 35px;
}

/* Modals */
.sf-form {
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    cursor: auto;
}

.sf-form-top {
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.1px solid rgb(159, 157, 157);
}

.sf-legend-container {
    align-items: center;
    width: 100%;
}

.sf-values {
    width: 90vw;
    min-width: 200px;
    max-width: 400px;
    overflow: auto;
}

.legend-icon {
    width: 40px;
    height: 40px;
}

/* Sort */
.sort-value {
    width: 90%;
    height: 50px;
}

/* Filters */
#filters {
    height: calc(70 * var(--vh));
    max-height: 500px;
    overflow: auto;
}

fieldset {
    border: none;
}

/* Filters Bottom Buttons */
#filters-bottom {
    justify-content: space-evenly;
    width: 100%;
}

#filters-bottom button {
    width: 40%;
    font-size: 16px;
}

#filters-bottom button:first-child {
    color: white;
}

#filters-bottom button:last-child {
    border: 1px solid rgb(211, 211, 211);
}

#filters-bottom button:hover {
    border-radius: 10px;
}

/* Open Filter Values Field Button */
.ofv-btn {
    width: 100%;
    border-bottom: 0.1px solid rgb(211, 211, 211);
    font-size: 16px;
}


/* Filter Values Field*/
.filter-values {
    height: calc(30 * var(--vh));
    max-height: 250px;
    border: 0.1px solid rgb(159, 157, 157);
    overflow: auto;
}

/* Price Filter */
#price-filter {
    justify-content: space-around;
    align-items: center;
}

.price-input {
    width: 35%;
    height: 40px;
}

/* Desktop */
@media all and (min-width: 1001px) {
    #sf-nav-ul {
        width: 80vw;
        max-width: 1600px;
        border-top: 0.1px solid rgb(211, 211, 211);
    }

}

/* Mobile & Tablets */
@media all and (max-width: 1000px) {
    #sf-nav-ul {
        width: 100vw;
    }
}

/* Horizontaal */
@media all and (max-height: 370px) {
    .sf-form {
        width: 100vw;
        height: calc(100 * var(--vh));
        border-radius: 0;
    }

    .sf-values {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: calc(70 * var(--vh));
    }
}