#product-primary {
    padding: 15px;
    width: 100%;
}

#product-primary span {
    justify-content: space-between;
}

#s-product-details {
    justify-content: space-between;
    height: 100%;
}

.product-dtl {
    padding-bottom: 30px;
}


#s-product-details h2,
#s-product-details h3 {
    font-weight: 400;
}

@media all and (min-width: 801px) {

    #product-primary {
        width: 55vw;
    }

}