.btn-progress {
    scale: 0.7;
}

.transition {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}


.loading-page {
    width: 100vw;
    min-height: calc(var(--vh) * 100);
    background-color: white;
}