/* Slider */
#home-slider {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.asb {
    cursor: pointer;
}

.asb:hover {
    color: var(--hover-grey);
}

#home-slider ul {
    width: 100vw;
}

#home-slider li {
    position: relative;
    width: 100vw;
    min-width: 100vw;
}

#home-slider a {
    width: 100vw;
}

.home-slider-img,
.home-slider-controls h2 {
    width: 50vw;
    max-width: 600px;
}

.home-slider-img {
    height: 50vw;
    max-height: 600px;
}

.home-slider-heading-wrapper {
    position: absolute;
    z-index: 9;
    top: calc(50% - 25px);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#home-slider h2 {
    padding: 10px;
    height: 50px;
    background-color: #fff;
}


/* Products heading */
#products-heading {
    margin: 40px 0 20px 0;
}

#products-heading a {
    width: 100vw;
    height: 50px;
    padding: 10px;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.223), 0 6px 20px 0 rgba(0, 0, 0, 0.136);
    background-color: rgba(46, 48, 71, 0.188);
}

#products-heading a:hover,
#home-slider h2:hover {
    border-radius: 10px;
    box-shadow: 0 4px 8px -2px rgb(146, 146, 146), 0 6px 20px 0 rgba(0, 0, 0, 0.136);
}


/* Tablet */
@media all and (min-width: 501px) {
    #home-slider li:first-child {
        background-image: linear-gradient(to right, #c2c6c3, #dedddb, #4a8fb6);
    }

    #home-slider li:nth-child(2) {
        background-image: linear-gradient(to right, #3aa8c7, #5bb7d1, #f0f0f0);
    }

    #home-slider li:nth-child(3) {
        background-image: linear-gradient(to right, #e5e0da, #f0f0f0, #e5e0da);
    }

    #home-slider h2 {
        width: 100vw;
    }

}

/* Desktop */
@media all and (min-width: 1001px) {

    #home-slider a,
    .home-slider-heading-wrapper div,
    #products-heading a {
        width: 80vw;
        max-width: 1600px;
    }

    .home-slider-heading-wrapper div {
        justify-content: end;
    }

    #home-slider h2 {
        width: 25vw;
        max-width: 400px;
    }
}


/* Mobile */
@media all and (max-width: 500px) {
    #home-slider a {
        justify-content: center;
        align-items: center;
    }

    #home-slider h2 {
        width: 100%;
        font-size: 20px;
    }

    .home-slider-img-wrapper {
        height: 100vw;
    }

    .home-slider-img {
        width: 95vw;
        height: 95vw;
    }

    .home-slider-heading-wrapper div {
        width: 100%;
    }

    /* Products heading */
    #products-heading {
        font-size: 10px;
    }
}