footer {
    padding: 20px 0;
    background-color: rgb(62, 62, 62);
}


footer a {
    height: 100%;
    color: rgba(255, 255, 255, 0.669);
    font-size: 15px;
    font-weight: 300;
}

footer a:hover {
    color: rgb(255, 255, 255);
}

footer nav {
    padding-top: 20px;
    width: 50%;
}

footer ul {
    width: 100%;
    justify-content: space-between;
}