.slider {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-width: var(--min-width);
}


/* Slider */
.slider-content {
    align-items: center;
    transition: transform 0.4s;
    -o-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
}

.right {
    right: 0;
}

.left {
    left: 0;
}


.slider-btn {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100%;
    cursor: auto;
}


.active-slider-btn {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* Bottom Controls */
#slider-bottom-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

#slider-bottom-controls ul {
    border-radius: 20px;
    transition: all 0.3s ease;
}

#slider-bottom-controls ul:hover {
    background-color: rgba(0, 11, 11, 0.53);
}


.deactive-pcb:hover {
    scale: 1;
}

.deactive-pcb {
    scale: 0.8;
}


#slider-bottom-controls button,
#slider-bottom-controls .deactive-pcb:hover {
    color: rgb(255, 255, 255);
}