.dialog-form {
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    cursor: auto;
}

.dialog-form-top {
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.1px solid rgb(159, 157, 157);
}

.dialog-legend-container {
    align-items: center;
    width: 100%;
}

.dialog-values {
    width: 90vw;
    min-width: 200px;
    max-width: 400px;
    overflow: auto;

    min-height: 210px;
}

.legend-icon {
    width: 40px;
    height: 40px;
}

@media all and (max-height: 370px) {
    .dialog-form {
        width: 100vw;
        height: calc(100 * var(--vh));
        border-radius: 0;
    }
}

/* Horizontaal */
@media all and (max-height: 370px) {
    .dialog-values {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: calc(70 * var(--vh));
    }
}