#cart-main {
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    padding-top: 60px;
    overflow-x: auto;
}

#cart-top {
    position: fixed;
    z-index: 2;
    top: 60px;
    width: 100vw;
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.223), 0 6px 20px 0 rgba(0, 0, 0, 0.136);
    background-color: rgb(255, 255, 255);
}

#total-container {
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px;
}

#total {
    font-size: 18px;
}

#checkout-button {
    width: 250px;
    background-color: rgba(29, 163, 17, 0.718);
    color: rgb(236, 236, 236);
    font-size: 17px;
}

#checkout-button:hover {
    border-radius: 10px;
}

/* Cart Products */
.cart-products-container {
    justify-content: start;
    align-items: center;
    min-width: 300px;
    overflow-x: auto;
}

.cart-product-li {
    width: 95%;
    height: 200px;
    margin: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 4px;
    box-shadow: 0 4px 0px -9px rgba(0, 0, 0, 0.223), 0 6px 20px 0 rgba(0, 0, 0, 0.136);
}

.cart-img {
    width: 30vw;
    min-width: 80px;
    max-width: 180px;
    height: 30vw;
    min-height: 80px;
    max-height: 180px;
}

.cart-item-details {
    justify-content: space-around;
    width: 100%;
    padding: 0 5%;
}

.cart-item-details li {
    justify-content: center;
}

.title {
    font-size: 18px;
}

.cart-item-grid {
    padding-right: 15px;
}

/* Checkout */
#checkout-wrapper {
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    cursor: auto;
}

#checkout-wrapper div {
    justify-content: flex-end;
}

#checkout-wrapper button {
    margin-top: 10px;
    color: rgb(0, 95, 219);
    font-size: 16px;
}

#checkout-wrapper button:hover {
    color: rgba(0, 95, 219, 0.681);
}

/* Desktop */
@media all and (min-width: 1001px) {
    #cart-main {
        align-items: center;
    }

    #cart-top {
        top: 80px;
        border-top: 0.1px solid rgba(159, 157, 157, 0.592);
    }

    #total-container {
        width: 80vw;
        max-width: 1600px;
    }

    .cart-products-container {
        width: 80vw;
        max-width: 1600px;
        min-height: calc((100 * var(--vh)) - 170px);
    }
}

/* Mobile & Tablets */
@media all and (max-width: 1000px) {
    #total-container {
        width: 100%;
    }

    .cart-products-container {
        width: 100vw;
        min-height: calc((100 * var(--vh)) - 150px);
    }
}

@media all and (max-width: 300px) {
    #cart-top {
        justify-content: start;
        min-width: 200px;
        overflow: auto;
    }

    #total-container {
        min-width: 300px;
    }
}