/* Background */
.background {
    position: absolute;
    top: 60px;
    left: 0;
    min-width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.293);
    cursor: pointer;
}

#search-wrapper {
    background-color: rgb(255, 255, 255);
    cursor: auto;
}

#search-input-container {
    height: 45px;
    border: 0.1px solid rgba(159, 157, 157, 0.592);
    border-radius: 10px;
    box-shadow: 0 3px 0px -9px rgba(31, 26, 26, 0.683), 0 1px 2px 0 rgba(0, 0, 0, 0.743);
}


#search-input {
    background-color: rgba(240, 248, 255, 0);
}

#search-wrapper form {
    height: 60px;
    border-bottom: 0.1px solid rgba(159, 157, 157, 0.592);
}

#end-adornment {
    justify-content: flex-end;
    width: 80px;
}

#search-results-list {
    overflow-y: auto;
}

.search-result-link {
    align-items: center;
    padding: 0 10px;
}

.search-result-title {
    width: 80%;
}

.search-result-category {
    width: 20%;
}

#no-result {
    height: 100%;
    padding-top: 10px;
}

/* Desktop */
@media all and (min-width: 1001px) {

    /* Background */
    .background {
        top: 80px;
    }

    #search-wrapper form {
        border-top: 0.1px solid rgba(159, 157, 157, 0.592);
    }

    #search-results-list {
        height: calc((80 * var(--vh)) - 60px);
    }

    #search-input,
    .search-result-link {
        width: 50vw;
        max-width: 1000px;
    }
}

/* Mobile & Tablets */
@media all and (max-width: 1000px) {
    #search-results-list {
        height: calc(100 * var(--vh));
    }

    #search-input {
        width: calc(100vw - 120px);
        padding: 25px;
    }

    .search-result-link {
        width: 100vw;
    }
}